{{yield}}
<form>
  <p>
    <label>First name: {{input value=model.firstname}}</label>
    {{#each errors.firstname as |error|}}
      {{error.message}}
    {{/each}}
  </p>
  <p>
    <label>Last name:
      {{input value=model.lastname}}
    </label>
  </p>
  <button {{action 'save'}}>Save</button>
</form>
